<div class="destaques">
    <div class="container dest">
      <div class="frete">
          <img src="./static/img/icons/box-seam.svg" width="50px" height="50px" alt="">
           <h4>FRETE GRÁTIS</h4>
           <p>PARA SÃO PAULO CAPITAL</p>
        </div>
        <div class="pagamento">
            <img src="./static/img/icons/credit-card-2-front.svg" width="50px" height="50px" alt="">
            <h4>EM ATÉ 12X</h4>
            <p>SEM JUROS</p>
        </div>
        <div class="seguranca">
          <img src="./static/img/icons/lock.svg" width="50px" height="50px" alt="">
          <h4>LOJA SEGURA</h4>
          <p>CERTIFICADO SSL</p>
        </div>
      </div>
</div>
